<div class="wrapper">
  <div class="container" style="width:600px;">
    <div>
      <h2 class="pt-5"><strong>管理者ログイン</strong></h2>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field mt-5 mx-auto" style="width:400px;">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="field mt-5 mx-auto" style="width:400px;">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="actions text-center mt-5">
        <%= f.submit "Log in", class: "btn btn-outline-secondary" %>
      </div>
    <% end %>

    <%= render "admin/shared/links" %>
  </div>
</div>
