<div class="wrapper">
  <div class="container" style="width:600px;">
    <div id="review">
      <h2 class="text-primary pt-5">釣具レビュー</h2>
    </div>

    <%= form_with model: @review do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="field mt-5 mx-auto" style="width:400px;">
      <span class="review"><%= f.label :"商品画像" %></span><br />
      <%= f.file_field :reviewimage, accept: "image/*" %>
    </div>

    <div class="field mt-5 mx-auto" style="width:400px;">
      <span class="review"><%= f.label :"タイトル" %></span><br />
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <div class="field mt-5 mx-auto" style="width:400px;">
      <span class="review"><%= f.label :"商品名" %></span><br />
      <%= f.text_field :item, class: "form-control" %>
    </div>

    <div class="field mt-5 mx-auto" style="width:400px;">
      <span class="review"><%= f.label :"評価内容" %></span><br />
      <%= f.text_area :body, class: "form-control", rows: "5" %>
    </div>

    <div class="actions mt-5 mx-auto text-center" style="width:400px;">
      <%= f.button :type => "submit", class: "review-btn px-5 py-3 mb-5", style: 'border-style: none;' do %>
       <i class="fa-solid fa-file-pen"></i>
      <% end %>
    </div>
    <% end %>
  </div>
</div>