<div class="container mx-auto">
  <h1 class="user pt-5">釣果一覧</h1>
  <div class="row">
    <div class="col-md-12 flexbox">
      <% @posts.each do |post| %>
        <div class="card ml-3 my-2" style="width: 250px;">
          <%= image_tag post.postimage, size: "250x150" %>
          <div class="card-body">
            <% if post.user.profile_image.attached? %>
              <%= image_tag post.user.profile_image, size: "50x50", class: "userradius" %>
            <% else %>
              <%= image_tag 'no_image', size: "50x50", class: "userradius" %>
            <% end %>
            <%= link_to post.title, admin_post_path(post), class: "ml-3" %>
            <div class="text-right d-flex">
              <h6><%= link_to post.user.nickname, admin_user_path(post.user_id) %></h6>
                <p class="ml-5"><i class="fa-solid fa-comment-dots"></i><%= post.comments.count %></p>
                <p class="ml-3"><i class="fa-solid fa-thumbs-up"></i><%= post.goods.count %></p>
            </div>
            <p class="text-right"><%= post.created_at.strftime('%Y/%m/%d') %></p>
          </div>
        </div>
      <% end %>
      <%= paginate @posts %>
    </div>
  </div>
</div>