<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="userinfo d-flex">
        <% if @post.user.profile_image.attached? %>
          <%= image_tag @post.user.profile_image, size: "150x150", class: "userradius mt-5" %>
        <% else %>
          <%= image_tag 'no_image', size: "150x150", class: "userradius mt-5" %>
        <% end %>
        <p class="h5 d-flex align-items-end"><strong><%= @post.user.nickname %></strong></p>
      </div>
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-3 d-flex align-items-end">
      <%= @post.created_at.strftime('%Y/%m/%d') %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7 mt-5">
      <%= image_tag @post.postimage, size: "500x300" %>
    </div>
    <div class="col-md-5 mt-5">
      <p class="h3 text-center"><%= @post.title %></p>
      <p class="h5 mt-5"><%= @post.body %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3 text-right">
      <p><i class="fa-solid fa-comment-dots"></i> <%= @post.comments.count %></p>
      <%= link_to "Delete", admin_post_path(@post.id), method: :delete, class: "btn btn-outline-danger mb-5", "data-confirm" => "本当に削除しますか？" %>
    </div>
  </div>
