<div class="container" id="sign_up">
  <div id="usersignup">
    <h2 class="usersignup pt-5">Sign up</h2>
  </div>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

    <div class="sign_up field mt-5 mx-auto">
      <span class="usersignup"><%= f.label :ニックネーム %></span><br />
      <%= f.text_field :nickname, class: "form-control" %>
    </div>

    <div class="sign_up field mt-5 mx-auto">
      <span class="usersignup"><%= f.label :生年月日 %></span><br />
      <%= f.date_select :birthdate, {use_month_numbers: true,start_year: 1930, end_year: (Time.now.year - 10), default: Date.new(1989, 1, 1)}, {class: "form-control bootstrap-date"} %>
    </div>

    <div class="sign_up field mt-5 mx-auto">
      <span class="usersignup"><%= f.label :性別%></span><br />
      <label><%= f.radio_button :sex, "男" %>男</label>
      <label class="sex"><%= f.radio_button :sex, "女" %>女</label>
      <label><%= f.radio_button :sex, "その他" %>その他</label>
    </div>

    <div class="sign_up field mt-3 mx-auto">
      <span class="usersignup"><%= f.label :email %></span><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="sign_up field mt-5 mx-auto">
      <span class="usersignup"><%= f.label :パスワード %></span>
      <% if @minimum_password_length %>
      <em class="usersignup">(<%= @minimum_password_length %> 文字以上)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="sign_up field mt-5 mx-auto">
      <span class="usersignup"><%= f.label :パスワード（確認） %></span><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="sign_up actions mt-5 mx-auto text-center">
      <%= f.submit "Sign up", class: "usersignup-btn px-4 py-3 mb-5" %>
    </div>
  <% end %>
</div>

