<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto mt-5">
      <h2>検索結果</h2>

      <table class="table table-hover table-inverse">
        <!--検索対象モデルがUserの時 -->
        <% if @range == "User" %>
          <thead>
            <tr>
              <th></th>
              <th>ニックネーム</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td>
                  <% if user.profile_image.attached? %>
                    <%= image_tag user.profile_image, size: "50x50" %>
                  <% else %>
                    <%= image_tag 'no_image', size: "50x50" %>
                  <% end %>
                </td>
                <td class="align-middle"><%= user.nickname %></td>
                <% if user_signed_in? %>
                  <td class="text-center"><%= link_to 'Show', user_path(user), class: "btn btn-outline-primary" %></td>
                <% else %>
                  <td class="text-center"><%= link_to 'Show', admin_user_path(user), class: "btn btn-outline-primary" %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        <% else %>
          <!--検索対象モデルがUserではない時(= 検索対象モデルがPostの時) -->
          <thead>
            <tr>
              <th>Title</th>
              <th>Body</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @posts.each do |post| %>
              <tr>
                <td><%= post.title %></td>
                <td><%= post.body %></td>
                <% if user_signed_in? %>
                  <td class="text-center"><%= link_to 'Show', post_path(post), class: "btn btn-outline-primary" %></td>
                <% else %>
                  <td class="text-center"><%= link_to 'Show', admin_post_path(post), class: "btn btn-outline-primary" %></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>