<div class="container mx-auto">
  <div class="row">
    <div class="col-md-3">
      <% if @user == current_user %>
        <h2 class="user mt-5 pb-2">My page</h2>
      <% else %>
        <h2 class="user mt-5 pb-2">User page</h2>
      <% end %>

      <% if @user.profile_image.attached? %>
        <%= image_tag @user.profile_image, size: "150x150", class: "userimage mt-5" %>
      <% else %>
        <%= image_tag 'no_image', size: "150x150", class: "userimage mt-5" %>
      <% end %>
      <table class="table">
        <tbody>
          <tr></tr>
          <tr>
            <th>Nick Name</th>
            <th><%= @user.nickname %></th>
          </tr>
        </tbody>
      </table>

      <% if @user == current_user %>
        <%= link_to 'Edit', edit_user_path(current_user), class: "btn btn-outline-secondary btn-block mt-5" %>

        <%= link_to 'New Article', new_post_path, class: "btn btn-outline-secondary btn-block mt-3" %>

        <%= link_to 'New Review', new_review_path, class: "btn btn-outline-secondary btn-block mt-3" %>
      <% end %>
    </div>

    <div class="col-md-9">
      <h2 class="user mt-5 pb-2">Article List</h2>
      <div class="flexbox mx-auto">
        <% @posts.each do |post| %>
        <div class="card ml-3 mt-2" style="width: 250px;">
          <%= image_tag post.postimage, size: "250x150" %>
          <div class="card-body">
            <%= link_to post.title, post_path(post) %>
            <span class="text-right d-flex">
              <p><i class="fa-solid fa-comment-dots"></i><%= post.comments.count %></p>
              <p class="ml-3"><i class="fa-solid fa-thumbs-up"></i><%= post.goods.count %></p>
            </span>
          <p class="text-right"><%= post.created_at.strftime('%Y/%m/%d') %></p>
          </div>
        </div>
        <% end %>
      </div>
      <%= paginate @posts, param_name: 'posts_page' %>
    </div>
  </div>


  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
      <h2 class="user mt-5 pb-2">Review List</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Item</th>
            <th></th>
          </tr>
        </thead>
        <% @reviews.each do |review|%>
        <tbody>
          <tr>
            <td><%= review.title %></td>
            <td><%= review.item %></td>
            <td class="text-right"><%= link_to 'Show', review_path(review), class: "btn btn-outline-primary" %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
      <%= paginate @reviews, param_name: 'reviews_page' %>
    </div>
  </div>
</div>
