<!DOCTYPE html>
<html>
  <head>
    <title>Fishlink</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="https://kit.fontawesome.com/557c66cb53.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <%= link_to image_tag("FishLinK_logo.png"), "/" %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <% if admin_signed_in? %>
              <li class="nav-item active"><%= link_to 'User', '#', class: 'mr-5 px-3 nav-link text-light btn btn-secondary' %></li>
              <li class="nav-item"><%= link_to 'Article', '#', class: 'mr-5 px-3 nav-link text-light btn btn-secondary' %></li>
              <li class="nav-item"><%= link_to 'Review', "#", class: 'mr-5 px-3 nav-link text-light btn btn-secondary' %></li>
              <li class="nav-item"><%= link_to 'Log out', "#", class: 'mr-5 px-3 nav-link text-light btn btn-secondary' %></li>
            <% elsif user_signed_in? %>
              <li class="nav-item active"><%= link_to 'My page', user_path(current_user), class: 'mr-5 px-3 nav-link text-light btn btn-secondary' %></li>
              <li class="nav-item"><%= link_to 'Article', posts_path, class: 'mr-5 px-3 nav-link text-light btn btn-secondary' %></li>
              <li class="nav-item"><%= link_to 'Favorite', favorites_path, class: 'mr-5 px-3 nav-link text-light btn btn-secondary' %></li>
              <li class="nav-item"><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'mr-5 px-3 nav-link text-light btn btn-secondary' %></li>
            <% else %>
              <li class="nav-item active"><%= link_to 'About', "/about", class: 'mr-5 px-3 nav-link text-light btn btn-secondary' %></li>
              <li class="nav-item"><%= link_to 'Article', posts_path, class: 'mr-5 px-3 nav-link text-light btn btn-secondary' %></li>
              <li class="nav-item"><%= link_to 'Sign up', new_user_registration_path, class: 'mr-5 px-3 nav-link text-light btn btn-secondary' %></li>
              <li class="nav-item"><%= link_to 'Log in', new_user_session_path, class: 'mr-5 px-3 nav-link text-light btn btn-secondary' %></li>
            <% end %>
          </ul><br>

          <% if user_signed_in? %>
          <div class="form-box">
            <%= form_with url: search_path, local: true, method: :get do |f| %>
              <%= f.text_field :word, placeholder: "Search", size: "25", class: "form-input" %>
              <%= f.select :range, options_for_select([['User'],['Post']]) %>
              <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"], ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
              <%= f.button :type => "submit", style: 'border-style: none;' do %>
                <i class="fas fa-search"></i>
              <% end %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </nav>
  </header>

  <body>
    <div class="wrapper">
      <%= flash[:notice] %>
      <%= yield %>
    </div>
  </body>

  <footer class="bg-light">
    <p class="text-center d-flex align-items-center justify-content-center">© FishLink 2022</p>
  </footer>
</html>
